* {
    box-sizing: border-box;
    position:absolute;
    display:block;
}
body {
    font-family: "Menlo", Arial, Helvetica, sans-serif;
    color:white;
    overflow:hidden;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    position: relative;  
    background-color: black;
}

jerrycan {
    width:100px; height:100px;
    background-image: url(../images/Fuel_midgrade_jerrycan.png);
    position: absolute;
}

container {
    width:1280px;
    height:720px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

player{
    width:72px; height:121px;
    display:block;
    background-repeat:no-repeat;
    background-image: url(../images/test1.png);    
}

textfield {
    font-size: 1.4em;
    width:530px;
    text-shadow: 0px 4px 0px rgba(0,0,0,0.5);
    transform: translate(20px, 20px);
}

ship {
    width:390px; height:634px;
    background-image: url(../images/boat_without_fire.png);
}

explosion {
    background-image: url(../images/explosion.png);
    width:150px; height: 157px;
}

background {
    width:100%; height:100%;
    background-color: #E69C5F;
    background-image: url(../images/bg.png);
    background-repeat: repeat-x;
    background-position: bottom;

}
foreground {
    height:1280px;
    width:720px;
}

platform {
    position: absolute; 
    height: 25px; width: 200px;
    background-color: black
}

body, html {
    margin:0; padding:0;
    width:100%; height:100%;
    overflow: hidden;
}

#background { 
    background-image: url('../images/stars.gif');
    background-repeat: repeat;
}

img {
    position: absolute;
}

spaceship {
    width: 100px;
    height: 150px;
}

hitbox {
 /* border: 2px solid green; */
    transform: translate(20px,10px);
    display: inline-block;
}

asteroid {
    display: inline;
}

textfield {
    color: white;
    z-index: 1;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 0px 4px 0px rgba(0,0,0,0.5);
    font-size: 1.4em;
}


startmodal, restartmodal {
    position:absolute;
    top:30vh;
    left:400px;
    width:400px;
    height:300px;
    background-color:#efefef;
    text-align:center;
}

    /* STARTSCREEN STYLING */
startbtn, restartbtn {
    margin-left: 140px;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-size:20px;
    position:absolute;
    bottom:20px;
    width: 120px;
    background-color:#313131;
    color:#fff;
    padding:20px;
    cursor:pointer;
    transition:  0.5s ease;
}

startbtn:hover, restartbtn:hover {
    background-color:#efefef;
    border:2px solid #313131;
    color: #313131
}

starttext, restarttext {
    color: #313131;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-size:20px;
    margin:40px;
}

/* interface {
    width:400px;
    height:100px;
    background-color:#fff;
    left:400px;
    top:20px;
    background-image: url(../images/planet1.png);
} */