* {
    box-sizing: border-box;
    position:absolute;
    display:block;
}
body {
    font-family: "Menlo", Arial, Helvetica, sans-serif;
    color:white;
    overflow:hidden;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    position: relative;  
    background-color: black;
}

item {
    width:100px; height:100px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

enemy {
    width: 155px; height: 185px;
    background-image: url(../images/enemyRechts.png)
}

container {
    width:1280px;
    height:720px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

player{
    width:105px; height:150px;
    display:block;
    background-repeat:no-repeat;
    background-image: url(../images/pirateSprite.png);    
}



textfield {
    font-size: 1.4em;
    width:530px;
    text-shadow: 0px 4px 0px rgba(0,0,0,0.5);
    transform: translate(20px, 20px);
}

ship {
    width:390px; height:634px;
    background-image: url(../images/boat_without_fire.png);
}

ship#chest {
    background-image: url(../images/chest.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;    
}

ship#openchest {
    background-image: url(../images/openchest.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;    
}

background {
    width:100%; height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

/* Backgrounds Game */
.startbg {
    background-image: url(../images/startbg.jpg);
}

.earthbg {
    background-image: url(../images/earthbg.png);
}

.marsbg {
    background-image: url(../images/marsbg.png);
}

.jupiterbg {
    background-image: url(../images/jupiterbg.png);
}

.saturnbg {
    background-image: url(../images/saturnbg.png);
}

.uranusbg {
    background-image: url(../images/uranusbg.png);
}

.neptunebg {
    background-image: url(../images/neptunebg.png);
}

.marsbg {
    background-image: url(../images/marsbg.png);
}

.mercurybg {
    background-image: url(../images/mercurybg.png);
}

.venusbg {
    background-image: url(../images/venusbg.png);
}

foreground {
    height:1280px;
    width:720px;
}

platform {
    position: absolute; 
    height: 25px; width: 200px;
    background-color: black
}

body, html {
    margin:0; padding:0;
    width:100%; height:100%;
    overflow: hidden;
}

#background { 
    background-image: url('../images/stars.gif');
    background-repeat: repeat;
}

img {
    position: absolute;
}

spaceship {
    width: 100px;
    height: 150px;
}

hitbox {
 /* border: 2px solid green; */
    transform: translate(20px,10px);
    display: inline-block;
}

asteroid {
    display: inline;
}

textfield {
    color: white;
    z-index: 1;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 0px 4px 0px rgba(0,0,0,0.5);
    font-size: 1.4em;
}


startmodal, restartmodal {
    position:absolute;
    top:30vh;
    left:400px;
    width:400px;
    height:300px;
    background-color:#efefef;
    text-align:center;
}

    /* STARTSCREEN STYLING */
startbtn, restartbtn {
    margin-left: 140px;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-size:20px;
    position:absolute;
    bottom:20px;
    width: 120px;
    background-color:#313131;
    color:#fff;
    padding:20px;
    cursor:pointer;
    transition:  0.5s ease;
}

startbtn:hover, restartbtn:hover {
    background-color:#efefef;
    border:2px solid #313131;
    color: #313131
}

starttext, restarttext {
    color: #313131;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-size:20px;
    margin:40px;
}

/* Endassignment styling */
assignmentbtn {
    margin-left: 140px;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-size:20px;
    position:absolute;
    bottom:20px;
    width: 120px;
    background-color:#313131;
    color:#fff;
    padding:20px;
    cursor:pointer;
    transition:  0.5s ease;
}

assignmentbtn:hover {
    background-color:#efefef;
    border:2px solid #313131;
    color: #313131
}

assignmentmodal {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    text-align: center;
    margin-left: 300px;
    margin-top: 160px;
    background-color: #baa684;
    width: 680px;
    height: 400px;
    border: 1px solid black;
}

assignmenttext, assignmenttext {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

assignmentbtn {
    margin-left: 500px;
}

textcontainer1, textcontainer2 {
    width:100%;
    height: 80px;
}

textcontainer2 {
    margin-top: 180px;
    height: 20px;
}

planetswrong {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/boxes.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100px;
    margin-top: 80px;
}

planetcontainer {
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    float:left;
    position: relative;
    border: 1px solid #837357;
    z-index: 1;
}

planetimg {
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

planetname{
    width: 100%;
    height: 20%;
    bottom: 5px;
    text-align: center;
}

planetsright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/boxes.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100px;
    background-color: #baa684;
    margin-top: 210px;
}

interface {
    width: 100%;
    left: 320px;
}